.git
.github
.vscode
.dockerignore
.editorconfig
.gitattributes
.gitmessage.txt
.prettierrc
docker-compose.yml
docker.sh

**/.eslintrc.json
**/.gitignore
**/README.md

**/node_modules
**/dist
**/test
**/*.spec.ts
**/*.spec.tsx
**/*.test.ts
**/*.test.tsx
**/Dockerfile
